@CHARSET "UTF-8";
ol, ul {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style: none;
}

body {
background-size: auto auto;
background-color: rgba(255, 255, 255, 1);
background-image: repeating-linear-gradient(0deg, transparent, transparent 14px, rgba(156, 255, 47, 1) 14px, rgba(156, 255, 47, 1) 30px );
}
.common_layout {
	border: 1px solid green;
	background-color: #ffffff;
	margin: 0 auto;
	position: relative;
}
.login {
	width: 400px;
	margin-top: 75px;
}
.login_result {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 600px;
}

h1 {
	text-align: center;
	color: green;
}
p,li {
	padding-left: 20px;
	padding-right: 20px
}
li {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed green;
}
.sub_menu {
	position: absolute;
	right: 0;
	top: 0;
}
form {
	text-align: center;
}
.submit {
	margin-bottom: 20px;
}
.center{text-align: center;}